<h1>Artists</h1>
<%= link_to 'Create Artist', new_billboard_artist_path(@billboard) %>
<ul>
	<% @artists.each do |artist| %>
		<li>
			<%= link_to artist.name, [@billboard, artist] %>
		</li>
	<% end %>
</ul>
<br />
<%= link_to "Back to #{@billboard.name}", billboard_path(@billboard) %>
