<h1><%= @artist.name %> Songs</h1>
<%= link_to 'Add Song', new_artist_song_path(@artist) %>
<ul>
	<% @songs.each do |song| %>
		<li>
			<%= link_to song.name, [@artist, song] %>
		</li>
	<% end %>
</ul>
<%= link_to "Back to #{@artist.name}", billboard_artist_path(@artist.billboard_id,@artist) %>